* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  background-color: #1d1d1d;
}

/*******************************

Modal Styles

*******************************/
.detail-modal {
  background-color: #eeeeee;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s opacity ease-in;
  -moz-transition: 0.3s opacity ease-in;
  -o-transition: 0.3s opacity ease-in;
  transition: 0.3s opacity ease-in;
  *zoom: 1;
}
.detail-modal:after {
  content: "";
  display: table;
  clear: both;
}
.detail-modal.visible {
  padding-bottom: 100px;
  opacity: 1;
}

.input-modal {
  background-color: #eeeeee;
  display: none;
  padding-bottom: 100px;
}
.input-modal.visible {
  display: block;
}

.modal-body {
  max-width: 400px;
  margin: 0 auto;
  z-index: 1000;
}

.home .device-thumb-mod {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.home.no-mode .device-thumb-mod {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.home.detail, .home.input, .home.invisible {
  display: none;
}
.home.detail .device-thumb-mod, .home.input .device-thumb-mod, .home.invisible .device-thumb-mod {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

/*******************************

Objects and Universal

*******************************/
.resp-img {
  width: 100%;
}

.btn {
  color: #FFF;
  display: block;
  margin: 0 auto;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #EEE;
  background-color: #93164f;
  outline: none;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.input-row {
  *zoom: 1;
  margin-bottom: 20px;
}
.input-row:after {
  content: "";
  display: table;
  clear: both;
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
}

.select {
  width: 100%;
}

.input-display {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.close {
  text-indent: -10000px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #93164f;
  background-image: url("img/x.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}
.close:hover {
  background-size: 13px;
}

/*******************************

Typography

*******************************/
body {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica", arial, sans-serif;
}

strong {
  font-weight: 600;
}

h1 {
  font-weight: 100;
}

h1, h2, h3, h4 {
  margin-bottom: 5px;
  line-height: 120%;
}

.h1 {
  font-size: 26px;
}

.h2 {
  font-size: 22px;
}

.h3 {
  font-size: 16px;
  text-align: center;
}

.txt {
  font-size: 14px;
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.logo {
  cursor: pointer;
  font-weight: 100;
  font-size: 40px;
  line-height: 0;
}

.detail-table {
  width: 100%;
  font-size: 14px;
}
.detail-table tr {
  border-bottom: 1px solid #CCC;
}
.detail-table td {
  padding: 10px 0;
}

/*******************************

Header

*******************************/
.header {
  height: 60px;
  background-color: #1d1d1d;
}

.logo {
  color: #666;
  font-size: 30px;
  width: 200px;
  padding: 30px 0 30px 10px;
  float: left;
}
.logo strong {
  color: #FFF;
}

.nav-buttons {
  width: 200px;
  float: right;
}

.wiki_link {
  height: 40px;
  width: 40px;
  background-image: url("img/docs.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  text-indent: -10000px;
  margin: 10px;
  float: right;
  padding: 10px;
  background-color: #93164f;
  color: #FFF;
}
.wiki_link:hover {
  background-size: 17px;
}

.add_device {
  height: 40px;
  width: 40px;
  background-image: url("img/add.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  text-indent: -10000px;
  float: right;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #93164f;
  color: #FFF;
}
.add_device:hover {
  background-size: 17px;
}

.show_login {
  height: 40px;
  width: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/login.png);
  background-image: url(/img/login.svg), none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  text-indent: -10000px;
  float: right;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #93164f;
  color: #FFF;
}
.show_login:hover {
  background-size: 17px;
}

.user_logout {
  height: 40px;
  width: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/logout.png);
  background-image: url(/img/logout.svg), none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  text-indent: -10000px;
  float: right;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #93164f;
  color: #FFF;
}
.user_logout:hover {
  background-size: 17px;
}

.show_register {
  height: 40px;
  width: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(/img/register.png);
  background-image: url(/img/register.svg), none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  text-indent: -10000px;
  float: right;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #93164f;
  color: #FFF;
}
.show_register:hover {
  background-size: 17px;
}

.login-form {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.login-form .form-mod, .register-form .form-mod {
  text-align: center;
}

.submit-mod {
  padding: 20px;
}

.register-form {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.login-form .form-mod {
  text-align: center;
}

.account-form {
  display: none;
}

/*******************************

Detail Screen

*******************************/
.section {
  margin: 0 0 30px 0;
}

.device-info .h1 {
  text-align: center;
}

.history-list li {
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}

.detail-img {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: white 0 0 40px;
  -moz-box-shadow: white 0 0 40px;
  box-shadow: white 0 0 40px;
}

/*******************************

Input Screen

*******************************/
.detail-img {
  position: relative;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: #EEE;
  position: relative;
  top: -155px;
}
.left-arrow:hover, .right-arrow:hover {
  background-color: #CCC;
}

.left-arrow {
  float: left;
  margin-left: -15px;
  background-image: url("img/leftarrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}
.left-arrow:hover {
  background-size: 13px;
}

.right-arrow {
  float: right;
  margin-right: -15px;
  background-image: url("img/rightarrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}
.right-arrow:hover {
  background-size: 13px;
}

#choose-art {
  *zoom: 1;
  margin-bottom: 20px;
}
#choose-art:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************

Home Screen

*******************************/
.home {
  padding: 60px 20px;
  background-color: #eeeeee;
}
@media (min-width: 600px) and (max-width: 899px) {
  .home {
    margin-left: -40px;
    *zoom: 1;
  }
  .home:after {
    content: "";
    display: table;
    clear: both;
  }
  .home > .media-block {
    float: left;
    padding-left: 40px;
    width: 50%;
  }
  .home > .media-block:nth-of-type(2n+3) {
    clear: left;
  }
  .home > .media-block.n3 {
    clear: left;
  }
}
@media (min-width: 900px) {
  .home {
    margin-left: -40px;
    *zoom: 1;
  }
  .home:after {
    content: "";
    display: table;
    clear: both;
  }
  .home > .media-block {
    float: left;
    padding-left: 40px;
    width: 33.3333%;
  }
  .home > .media-block:nth-of-type(3n+4) {
    clear: left;
  }
  .ie7 .home > .media-block {
    width: 33%;
  }
  .home > .media-block.n4 {
    clear: left;
  }
}

.device-thumb-mod {
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}
.device-thumb-mod.out {
  opacity: .25;
}

.device-img {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
.device-img:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: white 0 0 40px;
  -moz-box-shadow: white 0 0 40px;
  box-shadow: white 0 0 40px;
}

/*******************************

Footer

*******************************/
.ups-logo {
  background-color: #000;
  position: relative;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  width: 50px;
  height: 50px;
  margin: -25px auto 0 auto;
  background-image: url("img/st.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.footer-text {
  margin: 20px 0 0 0;
  text-align: center;
  color: #666;
}
.footer-text a {
  text-decoration: none;
  color: #CCC;
}
