/* CSS declarations go here */
body {
	padding: 0;
	margin: 0;
}

.device_thumb_mod {
	border: 1px solid #CCC;
	width: 23%;
	float: left;
	padding: 10px;
	margin: 20px;
}


/* Modal stuff */

.detail_modal, .input_modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.8);
}

.input_modal {
	display: none;
}

.detail_modal.open {
	display: block;
}

.detail_modal.closed {
	display: none;
}

.modal_body {
	position: relative;
	top: 0;
	width: 500px;
	padding: 20px;
	margin: 0 auto;
	background-color: #FFF;
	z-index: 10000;
}


/* Input styling */

.input-row {
	padding: 10px 0;
}

label {
	display: block;
}

input, textarea {
	width: 100%;
	padding: 6px;
}