/* CSS declarations go here */
body {
	padding: 0;
	margin: 0;
}


/* Modal stuff */

.detail_modal, .input_modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.8);
}

.input_modal {
	display: none;
}

.detail_modal.open {
	display: block;
}

.detail_modal.closed {
	display: none;
}

.modal_body {
	width: 500px;
	padding: 20px;
	margin: 40px auto;
	background-color: #FFF;
	z-index: 10000;
	box-shadow: 0px 0px 100px #000;
}


/* Input styling */

.input-row {
	padding: 10px 0;
}

label {
	display: block;
}

input, textarea {
	width: 100%;
	padding: 6px;
}


/* Checkin, checkout styles */
.checkout-form {
	display: block;
}

.checkin-form {
	display: none;
}


/* Typography */
body {
	font-family: "Proxima Nova", "proxima-nova", "Helvetica", arial, sans-serif;
}

strong {
	font-weight: 600;
}

h1 {
	font-weight: 100;
}
h1, h2, h3, h4 {
	margin-bottom: 5px;
	line-height: 120%;
}

.logo {
	font-weight: 100;
	font-size: 40px;
	line-height: 0;
}

.info {
	font-weight: normal;
	color: #000;
}

.info strong {
	color: #CCC;
}


/* Buttons */

.close, .input_close {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #65082F;
	position: absolute;
	margin-top: -30px;
	margin-left: -30px;
	background-image: url(/img/x.svg);
	background-size: 70%;
	background-position: center center;
	background-repeat: no-repeat;
	text-indent: -10000px;
}

input[type='submit']{
	margin: 0 auto;
	border: 0;
	background-color: #93164F;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
}

input[type='submit']:hover{
	background-color: #65082F;
}
/* Header styles */

.header {
	height: 100px;
	background-color: #65082F;
}

.nav-logo {
	width: 40%;
	float: left;
	padding: 20px;
	color: #FFF;
}

.nav-buttons {
	width: 40%;
	float: right;
}

.add_device {
	margin: 20px;
	float: right;
	padding: 20px;
	background-color: #93164F;
	color: #FFF;
}

/* Thumbnail Styles */

.device_thumb_mod {
	height: 250px;
	width: 160px;
	float: left;
	padding: 10px;
	margin: 20px;
	text-align: center;
	cursor: pointer;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.device_thumb_mod:hover {
	background-color: #E5E5E5;
}

.device_thumb_mod.out {
	opacity: .5;
}



/* Detail styles */

.device-history {

}

.history-list {
	height: 200px;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.history-list li {
	padding: 8px 0;
	border-bottom: 1px solid #EDEDED;
	color: #CCC;
}

.device-info {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #EDEDED;
}

.device-checkout {
	padding: 0 0 10px 0;
	height: 60px;
	border-bottom: 1px solid #EDEDED;
}

.checkout-form {
	width: 60%;
	float: left;
}

#checkout_name {
	font-size: 14px;
	height: 24px;
}

#checkout_submit {
	width: 35%;
	height: 40px;
	float: right;
}

/* Image styles */

.resp-img {
	width: 100%;
}

.detail-img {
	float: right;
	margin: -50px -80px 0 0;
	width: 200px;
	height: 200px;
}
